@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body {
    scroll-behavior: smooth;
    width: 100%;
    background-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a,
p,
.display-6 {
    font-family: 'Montserrat', sans-serif;
}

.display-light {
    font-family: 'Montserrat', sans-serif;
}

.text-main {
    color: #694ea1
}

.bg-main {
    background-color: #694ea1;
}

.bg-main:hover,
.bg-main:active,
.bg-main:focus {
    background-color: #694ea1;
}

.bg-light-main {
    background-color: #6a4ea123;
}