@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body {
    scroll-behavior: smooth;
    background-color: #fff;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a,
p,
.display-6 {
    font-family: 'Montserrat', sans-serif;
}

.display-light {
    font-family: 'Montserrat', sans-serif;
}

.text-main {
    color: #694ea1
}

.bg-main {
    background-color: #694ea1;
}

.bg-main:hover,
.bg-main:active,
.bg-main:focus {
    background-color: #694ea1;
}

.bg-light-main {
    background-color: #6a4ea123;
}

.contributor-card-top {	
    margin-bottom: 20px;	
}	

.contributor-card .avatar {	
    width: 50px;	
    display: inline-block;	
}	

.contributor-card h5 {	
    display: inline-block;	
    vertical-align: text-bottom;	
}	

.sub-text {	
    margin-bottom: 1rem;	
}	

.sub-text p {	
    font-size: 0.8rem;	
    margin-bottom: 0.2rem;	
}

@media (max-width: 320px) {
    .display-4 {
        font-size: 2.7rem;
    }

    .fa.fa-github {
        display: none;
    }
}

@media (max-width: 270px) {
    .display-4 {
        font-size: 2rem;
    }

    .fa.fa-github {
        display: none;
    }
}